@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1530px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
}

.pages {
  background: #000000;
  min-height: 100vh;
}

header {
  transition: all 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header .header__logo a {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  /* identical to box height, or 151% */
  transition: all 0.3s;
  color: #FFFFFF;
}
header .header__logo a img {
  padding-right: 10px;
}
header .header__logo a:hover {
  color: #3C82F4;
}
header .header__nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .header__nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #707070;
  padding: 0 20px;
  transition: all 0.3s;
}
header .header__nav ul li a:hover {
  color: #3C82F4;
}
header .header__log {
  display: flex;
  align-items: center;
}
header .header__log a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #707070;
  transition: all 0.3s;
}
header .header__log a:hover {
  color: #3C82F4;
}
header .header__log .sign-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #FFFFFF;
  background: #306EF7;
  padding: 12px 22px;
  border-radius: 12px;
  margin-left: 10px;
  transition: all 0.3s;
}
header .header__log .sign-link:hover {
  background: white;
  color: #306EF7;
}
header .header .burger {
  display: none;
  cursor: pointer;
}
header .header .burger span {
  display: block;
  height: 2px;
  width: 25px;
  transition: 0.5s;
  background-color: #FFFFFF;
  margin: 5px 0px;
}
header .header .burger.active span:nth-child(2) {
  opacity: 0;
}
header .header .burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header .header .burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header-fix.fixed {
  opacity: 0.5;
}

.header-fix.fixed:hover {
  opacity: 1;
}

main {
  padding-top: 100px;
}

.audience {
  margin-top: 50px;
  overflow: hidden;
}
.audience h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 168px;
  /* identical to box height, or 150% */
  text-align: center;
  cursor: default;
  color: #FFFFFF;
  transition: all 0.3s;
}
.audience h2 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 168px;
  cursor: default;
  background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: wave 2s linear infinite;
          animation: wave 2s linear infinite;
  transition: all 0.3s;
}
@-webkit-keyframes wave {
  from {
    -webkit-mask-position: 100%;
  }
  to {
    -webkit-mask-position: -100%;
  }
}

.turn {
  margin-top: 100px;
  overflow: hidden;
}
.turn__text {
  max-width: 700px;
  margin: 0 auto;
  transition: all 0.3s;
}
.turn__text h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  /* or 150% */
  transition: all 0.3s;
  text-align: center;
  cursor: default;
  color: #FFFFFF;
}
.turn__text.element-animation {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s;
}
.turn__text.element-animation.element-show {
  opacity: 1;
  transform: translateX(0px);
}
.turn__btn {
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.turn__btn .turn-blue {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #FFFFFF;
  background: #326CF9;
  padding: 23px 75px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.turn__btn .turn-blue:hover {
  background: white;
  color: #326CF9;
}
.turn__btn .turn-view {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  padding: 23px 75px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #ccc;
  background: #000000;
  color: #707070;
  transition: all 0.3s;
}
.turn__btn .turn-view:hover {
  background: white;
}
.turn__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.turn__info img {
  text-align: center;
}
.turn__info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */
  cursor: default;
  text-align: center;
  color: #707070;
}
.turn__info p span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 152% */
  color: #FFFFFF;
  margin: 0 10px;
}/*# sourceMappingURL=style.css.map */