/* burger */
@media(max-width: 723px){
    .header__nav{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        
        left: 0;
        top: -200%;
        transition: all 0.5s;
    }
    .header__nav ul{
        flex-direction: column;
        text-align: center;
    }
    header .header .burger{
        display: block;
    }
    .header__nav.active{
        top: 100px;
        height: 100vh;
        z-index: 100;
        background-color: black;
    }
    header .header__nav ul li a{
        padding: 20px 0px;
    }
}

@media(max-width:479px){
    header .header__logo a{
        font-size: 15px;
    }
    header .header__log .sign-link{
        font-size: 12px;
        padding: 10px 15px;
    }
    header .header__log a{
        font-size: 12px;
    }
}

/* audience */
@media(max-width: 1390px){
    .audience h1{
        font-size: 80px;
        line-height: 100px;
    }
    .audience h2{
        font-size: 80px;
        line-height: 100px;
    }
}
@media(max-width: 981px){
    .audience h1{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .audience h2{
        font-size: 50px;
        line-height: 50px;
    }
}
@media(max-width: 636px){
    .audience h1{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .audience h2{
        font-size: 25px;
        line-height: 50px;
    }
}

/* Тюрн */
@media(max-width: 688px){
    .turn{
        margin-top: 50px;
    }
    .turn__text h3{
        font-size: 22px;
        line-height: 30px;
    }
    .turn__btn{
        flex-direction: column;
    }
    .turn__btn .turn-blue{
        margin-bottom: 20px;
    }
    .turn__info p,
    .turn__info p span{
        font-size: 15px;
    }
}
@media(max-width: 417px){
    .turn__text h3{
        font-size: 18px;
        line-height: 25px;
    }
    .turn__btn{
        flex-direction: column;
    }
    .turn__btn .turn-blue{
        margin-bottom: 20px;
        font-size: 15px;
        padding: 20px 20px;
    }
    .turn__btn .turn-view{
        font-size: 15px;
        padding: 20px 20px;
    }
    .turn__info p,
    .turn__info p span{
        font-size: 12px;
    }
}

/* love */

@media(max-width: 1261px){
    .love h3{
        font-size: 50px;
        line-height: 80px;
    }
    .love__wrap-text .photo-text h5 {
        font-size: 25px;
        line-height: 30px;
    }
    .love__wrap-text p{
        font-size: 16px;
        line-height: 25px;
    }
}
@media(max-width: 1025px){
    .love__wrap{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .love__wrap-text p{
        text-align: center;
    }
    .love__wrap-text{
        margin-bottom: 40px;
    }
}
@media(max-width: 732px){
    .love h3{
        font-size: 25px;
        line-height: 40px;
    }
    .love__wrap-text .photo-text h5 {
        font-size: 18px;
        line-height: 15px;
    }
    .love__wrap-text p{
        font-size: 14px;
        line-height: 20px;
    }
}
@media(max-width: 396px){
    .love h3{
        font-size: 20px;
        line-height: 30px;
    }
}

/* step */
@media(max-width: 1261px){
    .step__text h3{
        font-size: 50px;
        line-height: 80px;
    } 
    .step__text p{
        font-size: 25px;
        line-height: 30px;
    }
    .step__text span{
        font-size: 18px;
    }
}
@media(max-width: 854px){
   
    .step__text p{
        font-size: 20px;
        line-height: 30px;
    }
    
}

@media(max-width: 732px){
    .step__text h3{
        font-size: 25px;
        line-height: 40px;
    } 
    .step__text p{
        font-size: 18px;
        line-height: 30px;
    }
    .step__text span{
        font-size: 14px;
    }
    .step__text button{
        font-size: 15px;
        padding: 20px 25px;
    }
}
@media(max-width: 454px){
    .step__text h3{
        font-size: 25px;
        line-height: 40px;
    } 
    .step__text p{
        font-size: 14px;
        line-height: 20px;
    }
    .step__text span{
        font-size: 13px;
    }
    .step__text button{
        font-size: 12px;
        padding: 20px 25px;
    }
}

/* hompage */
@media(max-width: 1277px){
    .hompage__content-left .hompage-top{
        font-size: 20px;
        line-height: 30px;
    }
    .hompage__content-left h3{
        font-size: 50px;
        line-height: 90px;
    }
    .hompage__content-left h3 span{
        font-size: 50px;
        line-height: 90px;
    }
    .hompage__content-left p {
        font-size: 15px;
        line-height: 22px;
    }
}
@media(max-width: 1064px){
    .hompage__content{
        flex-direction: column;
    }
    .hompage__content-left{
        width: 100%;
        margin-bottom: 40px;
    }
}

@media(max-width: 525px){
    .hompage__content-left .hompage-top{
        font-size: 12px;
        line-height: 20px;
    }
    .hompage__content-left h3{
        font-size: 30px;
        line-height: 50px;
    }
    .hompage__content-left h3 span{
        font-size: 30px;
        line-height: 50px;
    }
    .hompage__content-left p {
        font-size: 12px;
        line-height: 15px;
    }
    .hompage__content-left .hompage-btn{
        flex-direction: column;
    }
    .hompage__content-left .hompage-btn .turn-blue,
    .hompage__content-left .hompage-btn .turn-black{
        margin-bottom: 20px;
        font-size: 15px;
        padding: 12px 15px;
    }
}